PropiedadesBA - Load to Pinecone.json
{
  "name": "PropiedadesBA - Load to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1nJ4Izmob9YPx3MoxlD_fAr3Ezk7CVOX8",
          "mode": "list",
          "cachedResultName": "PropiedadesBA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nJ4Izmob9YPx3MoxlD_fAr3Ezk7CVOX8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3c55dc5-19d8-45e5-998f-1447f339ff44",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fp57YaFlB7bq4FWs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "01b9951f-7e4c-4171-98e1-4ec50e31d126",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fp57YaFlB7bq4FWs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "propiedadesba",
          "mode": "list",
          "cachedResultName": "propiedadesba"
        },
        "options": {
          "pineconeNamespace": "propiedades"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "7a3e0267-1aa2-46e4-a533-5a7fe1b056e2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "S1acWU4ao6rhcIjH",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        176
      ],
      "id": "785fc513-7553-4d1c-93de-76df4436132f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WFZnAIZVNIScZJtb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        176
      ],
      "id": "ff37462e-f7d1-45ac-bcc2-8c2991ce4dd6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        544,
        336
      ],
      "id": "96e95bd1-a519-4299-9c23-fc13598475c3",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a1177e6a-a8fa-4ad5-8606-fe8e5ddb39ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb8023c0d680f777bd04173a7ef8dad8cbcd1198cc1a2d9f3256c079e9a3a50f"
  },
  "id": "gPJdiDEruTQlLxu0",
  "tags": []
}